<h1>Symptoms</h1>
<mat-list role="list">
    <mat-list-item role="listitem">Most common symptoms:
    </mat-list-item>
</mat-list>
<ul>
    <li>tiredness</li>
    <li>fever</li>
    <li>cough</li>
</ul>
<mat-list role="list">
    <mat-list-item role="listitem">Less common symptoms:
    </mat-list-item>
</mat-list>
<ul>
<li>aches and pains</li>
<li>sore throat</li>
<li>diarrhoea</li>
<li>conjunctivitis</li>
<li>headache</li>
<li>loss of taste or smell</li>
<li>a rash on skin, or discolouration of fingers or toes</li>
</ul>
<hr>

<h1>Helpline</h1>
<mat-list role="list">
    <mat-list-item role="listitem">National Helpline Numbers for corona-virus : +91-11-23978046 ; Toll Free No: 1075</mat-list-item>
    <mat-list-item role="listitem">The Helpline Email ID for corona-virus : ncov2019@gov.in</mat-list-item>
</mat-list>
